<%- include('./partials/header'); -%>

<header>
    
    <div class="top">
      <h2>URL Shortener</h2>
      <h3>By Ashutosh Kumar</h3>
      <a href="/start" class="btn">Get Started</a>
    </div>
  </header>

<%- include('./partials/footer'); -%>

